node_modules
coverage
.nyc_output
.DS_Store
*.log
.vscode
.idea
dist
compiled
.awcache
.rpt2_cache
docs
/.eslintcache
/docs/.next
/.nyc_output
/coverage
/docs/export
/examples/**/.cache
/tmp
build
package-lock.json
size-snapshot.json
